@{
    ViewBag.Title = "About Me";
}

<div class="about-page">
    <h1>A Little About Myself</h1>

    <div class="about-me">
        <p>
            When I was 5 years old a group of friends and I disassembled an old computer monitor to understand how it worked. Although my parents weren't very pleased, I realized that this was the foundation for my love of technology and how things work. Several years later, I built my first computer and my curiosity began to shift from how it works to why it works, piquing my interest in software development. I began searching for ways to learn the software side of computers which brought me to SeedPaths, an intensive software development boot camp, which strengthened my confidence in my skills and my ability to quickly learn. I am now looking for a place to begin my career as an entry-level software developer, while also growing my knowledge and love for technology.
        </p>
    </div>
</div>