@{
    ViewBag.Title = "Contact Me";
}

<div class="contact-page">
    <h1>Contact Me</h1>

    <div class="contact-form-section">
        <h2>I'd love to hear from you! Give me a call or shoot me an email.</h2>

        <div>
            <h3><i class="fa fa-phone-square"></i> 720-272-0993</h3>
            <h3><i class="fa fa-envelope"></i> <a href="mailto:ryanmitchellwilson@gmail.com">RyanMitchellWilson@gmail.com</a></h3>
        </div>
    </div>

</div>